$_color1: #807dd4;              // 主色彩
$_gb_greyColor: rgb(236, 236, 236);;        // 主灰色

$_gb_imageColor: linear-gradient(315deg, #5ab2f1 0, #b65aeb 100%);

$_ft_color: #8a8b8c;            // 字体灰色

